* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.Add-product {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

.add-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.add-label {
    margin-bottom: 8px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    background-color: #fff;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: black;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.3);
}

button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    width: 100%;
}