h2 {
  text-align: center;
  color: #007bff !important;
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  font-size: 14px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #000;
}

button {
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 600px) {
  div {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
